<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
  <% if user_signed_in? %>
       <%= link_to 'logout', destroy_user_session_path, method: :delete %>
       <% else %>
       <%= link_to "login", new_user_session_path %>
       <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
