<p id="notice"><%= notice %></p>

<h1>Places</h1>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>City</th>
      <th>Catogry</th>
      <th>Name</th>
      <th>Visit</th>
      <th>Favorite</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.country %></td>
        <td><%= place.city %></td>
        <td><%= place.catogry %></td>
        <td><%= place.name %></td>
        <td><%= place.visit %></td>
        <td><%= place.favorite %></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path %>
