<p id="notice"><%= notice %></p>

<h1>Favorites</h1>

<div class="grid-container">
  <% @places.each do |place| %>
    
    <div class="grid-item">
   
    Country:
      <%= place.country %> <br/>
      City:
      <%= place.city %> <br />
      Catogry:
      <%= place.catogry %> <br />
      Name:
      <%= place.name %> <br />
     
      
      </div>
  <% end %>
  </div>



<%= link_to 'Back', places_path %>


