<header></header>
<p id="notice"><%= notice %></p>
<%= link_to 'Favorite', my_favorite_place_path %>
<h1>Places</h1>

<div class="grid-container">
<% @places.each do |place| %>
  <div class="grid-item">
  

  
  <%= image_tag ("Tom.jpg") %><br />
  City :
  <%= place.city %> <br />
  Catogry :
  <td><%= place.catogry %> <br />
  Name :
  <td><%= place.name %> <br />


  <%= link_to 'Favorite',favorite_place_path(place) %>
  <%= link_to 'Show', show_place_path(place) %>
  
  </div>
 <% end %>
</div>

<br>

<%= link_to 'New Place', new_place_path %>
