<header></header>

<p id="notice"><%= notice %></p>
<div class= "grid-container">
<% @places.each do |place| %>
  <div class="grid-item ">
  <%= link_to herf= show_place_path(place)  do %>
<div class="item">
<img src =<%=(place.image) if place.image%> class="img1"/>
<br />
</div>
<h4>  <%= place.name %></h4> <br />
 
  <% if user_signed_in? %>
  <center>
 <% fav = current_user.favorites.where({place_id: place.id})[0]%>
       <% if fav %>
       <%= link_to '✭',unfavorite_place_path(place) ,method: :delete %> 
       <% else %>
       <%= link_to '✩',favorite_place_path(place),method: :patch %>
 
       <% end %>
       <% end %>

</center>

  <% end %>

 
 
  
  </div>
 <% end %>


<br>




</div>
